* {
    box-sizing: border-box;
    margin: 0
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
input,
button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul {
    padding: 0;
}

.fs-090 {
    font-size: 0.9rem;
}
.fs-100 {
    font-size: 1rem;
}
.fs-200 {
    font-size: 2rem;
}
.fs-300 {
    font-size: 3rem;
}

.fw-300 {
    font-weight: 300;
}
.fw-400 {
    font-weight: 400;
}
.fw-800 {
    font-weight: 800;
}

.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}

.gap-050 {
    gap: .5rem;
}
.gap-100 {
    gap: 1rem;
}
.gap-200 {
    gap: 2rem;
}
.gap-300 {
    gap: 3rem;
}

.pad-y-100 {
    padding: 1rem 0;
}
.pad-y-200 {
    padding: 2rem 0;
}
.pad-y-300 {
    padding: 3rem 0;
}
.pad-t-100 {
    padding: 1rem 0 0 0;
}
.pad-t-200 {
    padding: 2rem 0 0 0;
}
.pad-t-300 {
    padding: 3rem 0 0 0;
}

.justify-space-between {
    justify-content: space-between;
}
.alig-center {
    align-items: center;
}


.list-none {
    list-style: none;
}
.container {
    width: 95%;
    max-width: 1100px;
    margin: 0 auto;
}
.button-normal {
    padding: .5rem;
    border: 1px solid black;
    border-radius: 4px;
    background: none;
    cursor: pointer;
}
.button-small {
    padding: .1rem;
    border: 1px solid black;
    border-radius: 4px;
    background: none;
    cursor: pointer;
}
.button-small:hover,
.button-normal:hover {
    opacity: .8;
}
.button-small:active,
.button-normal:active {
    opacity: .8;
    box-shadow: inset 0px 0px 8px grey;
}
.line-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
}
.list-items {
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
}
.list-items:last-of-type {
    border: none;
}